<!-- patient_profile.html -->

<h1>Profil du patient</h1>

{% if patient %}
  <h2>Nom d'utilisateur : {{ patient.username }}</h2>
  <h3>Date de naissance : {{ patient.date_naissance }}</h3>
  <h3>Adresse : {{ patient.adresse }}</h3>

  <h2>Répartition des émotions :</h2>
  {% if emotion_distribution %}
    <ul>
      {% for emotion, count in emotion_distribution.items %}
        <li>{{ emotion }} : {{ count }}</li>
      {% endfor %}
      <img src="data:image/png;base64,{{ graphique }}" alt="Emotion Distribution">

    </ul>
  {% else %}
    <p>Aucune émotion trouvée.</p>
  {% endif %}
{% else %}
  <p>Patient introuvable.</p>
{% endif %}

<a href="{% url 'emotions_patient' %}">Retour à la recherche</a>
<a href="{% url 'home' %}">Retour à l'accueil</a>
