{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Recherche de textes</h1>

    <form method="post" action="{% url 'recherche_textes' %}" class="mb-4">
        {% csrf_token %}
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur du patient :</label>
            <select name="username" id="username" class="form-select">
                <option value="">Sélectionnez un patient</option>
                {% for patient in patients %}
                    <option value="{{ patient.username }}">{{ patient.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="emotion" class="form-label">Emotion :</label>
            <select name="emotion" id="emotion" class="form-select">
                <option value="">Sélectionnez une émotion</option>
                {% for emotion in emotions_choices %}
                    <option value="{{ emotion.0 }}">{{ emotion.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="expression" class="form-label">Expression :</label>
            <input type="text" name="expression" id="expression" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    {% if texts %}
    <h2>Il y a {{ count }} résultats pour votre recherche</h2>
    <div class="row">
        {% for text in texts %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Texte : {{ text.text }}</h5>
                        <h5 class="card-title">Emotion correspondante : {{ text.emotion }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    {% if request.method == 'POST' %}
        <p>Aucun texte ne correspond à cette recherche.</p>
    {% endif %}
{% endif %}
</div>

{% endblock content %}
